.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
ebin/*.app
log/*.log

node_modules/
bower_components/
priv/static/README.md
priv/static/css/app.css
priv/static/css/app.css.map
priv/static/fonts/glyphicons-halflings-regular.eot
priv/static/fonts/glyphicons-halflings-regular.svg
priv/static/fonts/glyphicons-halflings-regular.ttf
priv/static/fonts/glyphicons-halflings-regular.woff
priv/static/js/app.js
priv/static/js/app.js.map
priv/static/js/dontUseMe
priv/static/js/dontUseMe.map
priv/static/js/vendor.js
priv/static/js/vendor.js.map
