<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title ng-bind-template="{[{app.title}]}">{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
<body>
    <div class="container" ng-view>
        {% block body %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <!--<script type="text/javascript" src="/static/js/partials.js"></script>-->
    <script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>
